cb_h1 {
  color : #B58900;
  font-family: 'Courier New', monospace;
  font-size:x-large;
}
cb_h2 {
  color : #B58900;
  font-family: 'Courier New', monospace;
  font-size:large;
}
cb_h3 {
  color : #B58900;
  font-family: 'Courier New', monospace;
  font-size:medium;
}
cb_p {
  color : #859900;
  font-family: 'Courier New', monospace;
  font-size:medium;
}
figcaption {
  color : #859900;
  font-family: 'Courier New', monospace;
  font-size:medium;
  text-align: center;
}
ul.breadcrumb {
  color : #859900;
  background-color: #002B36;
  font-family: 'Courier New', monospace;
}

ul.breadcrumb li {
  color : #B58900;
  background-color: #002B36;
  font-family: 'Courier New', monospace;
}
